* {
    box-sizing: border-box;
    font-family: Consolas, monospace;
}

body {
    margin: 0;
    background: radial-gradient(circle at top, #020617, #000);
    color: #fff;
}

/* HERO */
.hero {
    text-align: center;
    padding: 25px;
}

.hero h1 {
    font-size: 3rem;
    background: linear-gradient(90deg, #38bdf8, #22c55e, #f472b6);
    -webkit-background-clip: text;
    color: transparent;
    animation: glow 3s infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 10px #38bdf8; }
    to { text-shadow: 0 0 25px #22c55e; }
}

/* EDITOR GRID */
.editors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    padding: 20px;
}

.editor-box {
    background: #020617;
    border-radius: 14px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(56,189,248,0.3);
    transition: transform 0.3s;
}

.editor-box:hover {
    transform: scale(1.03);
}

.editor-box h2 {
    text-align: center;
    margin: 5px 0;
}

.html-box { box-shadow: 0 0 18px #f97316; }
.css-box { box-shadow: 0 0 18px #38bdf8; }
.js-box { box-shadow: 0 0 18px #facc15; }

textarea {
    width: 100%;
    height: 200px;
    background: #020617;
    color: #e5e7eb;
    border: none;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

/* RUN BUTTON */
.run-area {
    text-align: center;
    margin: 20px;
}

.run-area button {
    padding: 12px 28px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #22c55e, #38bdf8);
    cursor: pointer;
    box-shadow: 0 0 20px #22c55e;
}

/* OUTPUT */
.output-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding: 20px;
}

.preview-box, .console-box {
    background: #020617;
    border-radius: 14px;
    padding: 10px;
    box-shadow: 0 0 18px rgba(34,197,94,0.4);
}

.preview-box h3 {
    color: #38bdf8;
}

.console-box h3 {
    color: #22c55e;
}

iframe {
    width: 100%;
    height: 260px;
    border: none;
    background: white;
}

#console {
    background: black;
    color: #00ff00;
    height: 260px;
    overflow-y: auto;
    padding: 10px;
}
    